.idea/*
!.idea/codeStyles/

*.iml
.gradle
local.properties
.DS_Store
build
.cxx

gitlog.json
.externalNativeBuild

hellocardboard-android/libraries/
android-sdk-licenses
android-sdk
overlay.tmp
overlay.work
